
header{
    position : fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    height: 150px;
    width: 100vw;
    box-sizing: border-box;
    background-color: rgb(219, 200, 213);
    border-bottom: 5x solid black;
    z-index: 1;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h1{
    font-size: 4em;
    font-weight: 600;
}

#main{
    position: absolute;
    top: 110px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 200px);
    overflow-y: scroll;
    scroll-behavior: smooth;
}
p{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50%;
    padding-left: 25%;
    font-size: x-large;
}
ul{
    font-size: x-large;
    padding-left: 45%;

    
}
h3{
    padding-left: 44%;
    font-size: x-large;
}


.section{
    width: 100%;
    min-height: 120%;
}
h2{
    font-size: 3em;
    font-weight: 500;
    text-align: center;
}
#js{
    display: flex;
    align-items: center;
    gap: 10px;
}
#html{
    display: flex;
    align-items: center;
    gap: 10px;
}
#css{
    display: flex;
    align-items: center;
    gap: 10px;
}
#python{
    display: flex;
    align-items: center;
    gap: 10px;
}
#sql{
    display: flex;
    align-items: center;
    gap: 10px;
}
#node{
    display: flex;
    align-items: center;
    gap: 10px;
}
#front{
    display: flex;
    align-items: center;
    gap: 10px;
}
#back{
    display: flex;
    align-items: center;
    gap: 10px;
}